.about-us {
    background-color: var(--medium-light-gray);
    padding: 20px;
    color: var(--black);
    flex-grow: 1;
    flex-basis: 0;
}

.intro-text {
    margin-bottom: 20px;
}

.intro-text h2 {
    color: var(--black);
}

.intro-text p {
    color: var(--dark-gray);
}

.intro-participants {
    display: flex;
    gap: 20px;
}

.intro-participants .davi,
.intro-participants .pedro {
    background-color: var(--light-red);
    padding: 20px;
    color: var(--medium-light-gray);
    width: 50%;
    border-radius: 5%;
}

.intro-participants .davi h4 a,
.intro-participants .pedro h4 a {
    color: var(--medium-light-gray);
    text-decoration: none;
    font-size: 28px;
}

.intro-participants .davi h6,
.intro-participants .pedro h6 {
    color: var(--dark-red);
    font-size: 16px;
}

.intro-participants .davi-photo,
.intro-participants .pedro-photo {
    text-align: center;
}

.intro-participants .davi-photo img,
.intro-participants .pedro-photo img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.intro-participants .davi-photo img:hover,
.intro-participants .pedro-photo img:hover {
    transform: scale(1.1);
}