.about-the-project {
    background-color: var(--medium-light-gray);
    padding: 20px;
    color: white;
    flex-grow: 1;
}

.about-the-project h2 {
    color: var(--black);
}

.about-the-project p {
    color: var(--dark-gray);
}