header {
    background-color: var(--dark-red);
    padding: 20px;
    color: var(--light-gray);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-container {
    cursor: pointer;
    height: 100%;
}

.logo-container img {
    width: 80px;
    height: 80px;
}

.logo-container img:hover {
    transform: scale(1.025);
    animation: shake 1s;
}

.nav-links {
    display: flex;
}

.nav-links div {
    margin-right: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
    color: var(--light-gray);
}

.nav-links div:hover {
    transform: scale(1.025);
    animation: shake 1s;
}