:root {
    color: var(--medium-dark-gray);
}

.HuffmanTree {
    width: 50%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-red);
    position: relative;
    border-radius: 10%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    left: 25%;
}