:root {
  --black: #222222;
  --dark-gray: #333333;
  --medium-dark-gray: #666666;
  --medium-gray: #999999;
  --medium-light-gray: #cccccc;
  --light-gray: #E5E5E5;
  --dark-red: #8B0000;
  --red: #FF0000;
  --light-red: #FF4D4F;
  --intense-light-red: #FFA39E;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(-10px);
  }

  40% {
    transform: translateX(10px);
  }

  60% {
    transform: translateX(-10px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0);
  }
}

html,
body,
#root {
  height: 100%;
}

::-webkit-scrollbar {
  width: 8px;
  scrollbar-width: thin;
  scrollbar-color: var(--red) transparent;
  scrollbar-width: thin;
}

::-webkit-scrollbar-thumb {
  background-color: var(--light-red);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--red);
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.App h2 {
  font-size: 28px;
}

.App p {
  font-size: 22px;
}