:root {
  --color-pink-flamingo: #FF66CC;
  --color-sunshine-yellow: #FFCC00;
  --color-electric-blue: #00CCFF;
  --color-luscious-lime: #99FF00;
  --color-purple-haze: #9933FF;
  --color-candy-apple-red: #FF3333;
  --color-tropical-orange: #FF6600;
  --color-bubblegum-pop: #FF99CC;
  --color-aqua-splash: #00FFFF;
  --color-playful-peach: #FF9966;
  --white: #F2F2F2;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(-10px);
  }

  40% {
    transform: translateX(10px);
  }

  60% {
    transform: translateX(-10px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0);
  }
}

html,
body,
#root {
  height: 100%;
}

::-webkit-scrollbar {
  width: 8px;
  scrollbar-width: thin;
  scrollbar-color: var(--color-purple-haze) transparent;
  scrollbar-width: thin;
  scrollbar-color: var(--color-electric-blue) transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-purple-haze);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-electric-blue);
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.App h2 {
  font-size: 28px;
}

.App p {
  font-size: 22px;
}