:root {
  --color-pink-flamingo: #FF66CC;
  --color-sunshine-yellow: #FFCC00;
  --color-electric-blue: #00CCFF;
  --color-luscious-lime: #99FF00;
  --color-purple-haze: #9933FF;
  --color-candy-apple-red: #FF3333;
  --color-tropical-orange: #FF6600;
  --color-bubblegum-pop: #FF99CC;
  --color-aqua-splash: #00FFFF;
  --color-playful-peach: #FF9966;
  --white: #F2F2F2;
}

html,
body,
#root {
  height: 100%;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}